body {
  background-color: #fdf6e3;
  font-family: "Microsoft YaHei", sans-serif;
  color: #333;
  padding: 40px;
}

h1 {
  color: #b22222;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin: 20px 0;
}

img {
  display: block;
  margin: 30px auto;
  max-width: 500px;
  border: 5px solid #b22222;
  border-radius: 10px;
}
